*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/FDHSocialGeneralDialog/build/intermediates/res/merged/androidTest/debug/*.flat
/app/build
/app/release
FDHSocialGeneralDialog
/.idea
/jpush/build
amm_sdk_sample
