<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weike.data"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".WKBaseApplication"
        tools:replace="android:icon"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        <meta-data
            android:name="circle_dialog_design_width"
            android:value="1080" />
        <meta-data
            android:name="circle_dialog_design_height"
            android:value="1920" />


        <activity android:name=".MainActivity">



        </activity>
        
        <activity android:name=".base.BaseActivity">


        </activity>
        <activity android:name=".business.login.LoginActivity">



        </activity>

        <activity android:name=".business.start.StartActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".business.home.HomeActivity">

        </activity>

        <activity android:name=".business.start.GuideActivity"
            android:windowSoftInputMode="adjustPan"
            >


        </activity>
        <activity android:name=".business.myself.DataModifyActivity"
            android:windowSoftInputMode="adjustPan"
            >


        </activity>
        <activity android:name=".business.log.AddLogActivity"
            android:windowSoftInputMode="adjustPan"
            ></activity>
        <activity android:name=".business.client.AddClientActivity"
            android:windowSoftInputMode="adjustPan">


        </activity>
        <activity android:name=".business.log.RemindSettingActivity"
            android:windowSoftInputMode="adjustPan"
            >


        </activity>

        <activity android:name=".business.search.SearchActivity"></activity>
        <activity android:name=".business.client.ClientTagActivity"></activity>
        <activity android:name=".business.setting.AppSettingActivity"></activity>
        <activity android:name=".business.setting.ServiceSettingActivity"></activity>
        <activity android:name=".business.myself.MyIntegralActivity"></activity>
        <activity android:name=".business.myself.CustomerCenterActivity"></activity>
        <activity android:name=".business.myself.MyQRCodeActivity"></activity>
        <activity android:name=".business.myself.VipOpenUpActivity"></activity>
        <activity android:name=".business.setting.ClientTagSettingActivity"></activity>
        <activity android:name=".business.setting.AttrManagerActivity"></activity>
        <activity android:name=".business.setting.HandleWorkingDisplayActivity"></activity>
        <activity android:name=".business.setting.ResetPwdActivity"></activity>
        <activity android:name=".business.working.HandleWorkingActivity"></activity>

    </application>

</manifest>